# Editor & OS
.vscode/
.idea/
.DS_Store

# Notebooks
*.ipynb

# Git
.git
.gitignore

# Data & Models (Mount these via -v instead of COPY)
data/
models/
weights/
runs/**
!runs/detect/
!runs/detect/train2/
!runs/detect/train2/**

# Python & System
__pycache__/
*.pyc
.venv/

# Documentation
README.md
docs/