# Python
__pycache__/
*.py[cod]
*$py.class

# ML Assets (Don't push large files to GitHub)
data/images/
data/labels/
*.pt
*.onnx
weights/

# Results & Logs
models/train/
runs/
logs/
*.log

# Environments
.env
.venv/
env/
venv/

# Editor
.vscode/
.idea/